*{
    margin: 0;
}

.App{
    display: flex;
    flex-flow: column nowrap;
}

/*nav*/
.navbar div img{
    margin: 1.5rem;
}

.navbar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-bottom: 1px solid black;
}

nav ul li{
    display: inline;
    margin: 4rem 2rem;
    text-decoration: none;
}

/*main*/
.section-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.descuento, .enviocondicional, .formulario, .sub-form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.descuento p{
    width: 21rem;
    border: 3px solid rgb(5, 17, 53);
    margin: 2rem 0;
    font-size: larger;
}

.enviocondicional div{
    flex-flow: column;
}

.sub-form{
    flex-flow: column;
    border: 3px solid rgb(5, 17, 53);
    margin: 2rem 0;
    border-radius: 5%;
    padding: 3rem;
}

form div{
    margin-bottom: 1.5rem;
}

form div input, textarea{
    width: 25rem;
}

form div p{
    color: red;
    font-size: x-small;
}