.navbar div img{
    margin: 1.5rem;
}

.navbar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-bottom: 1px solid black;
}

nav ul li{
    display: inline;
    margin: 4rem 2rem;
    text-decoration: none;
}