.descuento{
    display: flex;
    justify-content: center;
    text-align: center;
}

.descuento p{
    width: 21rem;
    border: 3px solid rgb(5, 17, 53);
    margin: 2rem 0;
    font-size: larger;
}

